div {
	border: 3px solid red;
}

div[id="third"] > p {
	visibility:  visible;
}

h1 {
	visibility:  visible;
}

#second div {
	visibility:  visible;}

img {
	visibility:  visible;
}

#first p {

	font-size: 25px;
} 


